body {
  background-color: #444;
  background-image: url(f914a11e6895087014fb80b319bdba75.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

